<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <title>Acceuil</title>
        <link rel="stylesheet" href="style.css">

        <!-- CSS Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- JavaScript Bootstrap (optionnel mais recommandé) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

        <header class="bg-dark">
            <div class="container">
                <nav class="nav justify-content-between align-items-center">
                    <a href="base.html.twig"><img src="images/Logo.png" alt="Logo" class="img-fluid my-1" style="max-height: 67px; width: auto;"></a>
                    <div class="d-flex">
                        <a href="OFFRES-crée.html" class="nav-link text-white my-3 mx-4">Offre</a>
                        <a href="#" class="nav-link text-white my-3 mx-4">Lien 2</a>
                        <a href="#" class="nav-link text-white my-3 mx-4">Lien 3</a>
                        <a href="#" class="nav-link text-white my-3 ms-4">Lien 4</a>
                    </div>
                </nav>
            </div>
        </header>

            <title>{% block title %}{% endblock %} - My Webpage</title>
            {% endblock %}
    </head>
    <body>
        <main id="content">{% block content %}{% endblock %}</main>
        <footer id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="https://example.com/">you</a>.
            {% endblock %}
        </footer>
    </body>
</html>